<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:calc.properties"/>


    <bean name="beanFilePath" class="com.epam.brest.files.FilePath">
        <property name="weightFilePath" value="${filePath.weightFilePath}"/>
        <property name="lengthFilePath" value="${filePath.lengthFilePath}"/>
    </bean>

    <bean name="fileReader" class="com.epam.brest.files.JSONFileReader">
        <property name="filePath" ref="beanFilePath"/>
    </bean>

    <bean name="priceSelector" class="com.epam.brest.selector.PriceSelector"/>

    <bean name="calcImpl" class="com.epam.brest.calc.CalcImpl"/>

</beans>